@import "node_modules/bootstrap/scss/bootstrap";

@import "./variables.scss";

.meWrapper {
  padding: 1em;
  overflow: hidden;

  > .me {
    object-fit: cover;
    width: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50% 50% 50% 50%;
  }
}

.logo {
  margin: auto;
  object-fit: cover;
  width: 75%;
}

.logoContainer {
  text-align: center;
  @include media-breakpoint-up(sm) {
    padding: 1.75em;
  }

  overflow: hidden;

  & > a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.infoRow {
  padding: 2em 1em;
}

.topApp {
  padding-top: 0.5em;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;

  > a {
    color: black;
    padding-bottom: 0;
    &:hover {
      color: lighten(black, 20%);
    }
  }
}

.navbar {
  margin-top: 0;
  padding-top: 0;
}

.header-break {
  margin-top: 0;
}

.logos {
  @include media-breakpoint-up(sm) {
    padding-top: 1em;
  }
  padding-bottom: 1em;
}

.bioText {
  margin: 0 1.5em;
}

.featureImg {
  width: 100%;
}

.bottomLine {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.marginBotZero {
  margin-bottom: 0;
}

.makeTextSmaller {
  font-size: 0.9em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.postTitle {
  width: 80vh;
  padding: 0.5em;

  p {
    color: white;
    font-size: 2.6em;
    z-index: 1000;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-shadow: 1px 2px #000000;
  }

  img {
    -webkit-filter: blur(3px);
    filter: blur(3px), brightness(75%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  &:hover {
    p {
      color: white;
      font-size: 2.2em;
      z-index: 1000;
    }
    img {
      -webkit-filter: blur(0);
      filter: blur(3px), brightness(100%);
    }
  }
}
