@import "node_modules/bootstrap/scss/bootstrap";

@import "./variables.scss";


.frontImage {
  background: url('./images/mountain.jpg') no-repeat center center fixed;
  background-blend-mode: darken;
  background-size: cover;
  width: 100&;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;


  & > .frontText{
    background-color: rbga(5,5,5, 0.2);
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    position: absolute;
    white-space: nowrap;
    color: white;
    h1 {
      font-size: 5em;
    }
    
  }

}



.meWrapper {
  height: 50vh;

  > .me {
    object-fit: cover;
    height: 50vh;
    border-radius:50% 50% 50% 50%;
  }
}

.logo {
  object-fit: cover;
  width: 100%
}

.logoContainer {

}

.infoRow {
  padding: 2em 1em;
}

.topApp {
  padding: 1em;
}

.title {
  text-align: center;
  font-size: 4em;
  margin-bottom: 0;

  > a {
    color: black;
    padding-bottom: 0;
    &:hover {
      color: lighten(black, 20%);
    }
  }
}

.navbar {
  margin-top: 0;
  padding-top: 0;
}

.myHeader {
  padding-bottom: 1em;
}

.nav-link-bigger {
  font-size: 1.25em;
}

.header-break {
  margin-top: 0;
}