@import "node_modules/bootstrap/scss/bootstrap";

@import "./variables.scss";


.frontImage {
  background: url('./images/mountain.jpg') no-repeat center center fixed;
  background-blend-mode: darken;
  background-size: cover;
  width: 100&;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;


  & > .frontText{
    background-color: rbga(5,5,5, 0.2);
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    position: absolute;
    white-space: nowrap;
    color: white;
    h1 {
      font-size: 5em;
    }
    
  }

}

.me {
  object-fit: cover;
  width:500px;
  height:500px;
  border-radius:50% 50% 50% 50%;
}

.logo {
  object-fit: cover;
  width:200px;
  height:200px;
}